body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

a {
	font-size: 16px;
	color: black;
}
a:visited {
	color: black;
}

td {
	vertical-align: top;
}

.main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


.data table {
	background: #101b27;
	color: #f3f3f3;
	border-radius: 5px;
	padding: 5px;
}

.clock {
	display: flex;
	justify-content: center;
}


.station-about {
	display: flex;
}

.station {
	display: flex;
	margin-left: 10px;
	flex-direction: row;
	justify-content: space-evenly;
}

#clock_block {
	border-radius: 5px;
	amargin-top: 25px;
	apadding: 15px;

	/*
	background: #101b27;
	color: #f3f3f3;
	font-size: 16pt;
	*/

}

.message {
	display: flex;
	justify-content: center;
}

.filler {
	display: flex;
	flex: 1;
}


.hidden {
	visibility: hidden;
}

.none {
	display: none;
}

button {
	display: block;
	margin: 0 auto;
}

.background {
	background-size: cover;
	background-repeat: no-repeat;
}

.alert-box {
	width: 40%;
	border-radius: 5px;
	margin-top: 25px;
	padding: 15px;

	background: #101b27;
	color: #f3f3f3;
	font-size: 16pt;
}

#clock {
	color: #101b27;
	font-size: 54pt;
	margin: 0px;
	width: 4em;
	afont-family: 'Cousine', monospace;
	font-family: 'Source Code Pro', monospace;
}

@media all and (min-width: 960px) {
	#clock {
		font-size: 70pt;
	}
}

.wwv {
	background-image: url("images/wwv_02.jpg");
}

.wwvh {
	background-image: url("images/wwvh7.jpg");
}

.footer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}

select {
	padding: 5px 5px 5px 5px;
	font-size: 16px;
	border: 0px;
	/*
	width: 250px;
	height: 34px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	*/
	background-color: rgba(255,255,255, 0.5) ;
}
